@(email: String, game: models.Game, form: Form[betVO])(implicit flash: Flash)

@main("Bolão Copa 2018 - Aposta") {

    <br><h1 align="center">Bolão Copa 2018 - @game.teams</h1><br><br>
    <div class="container"> 
        <h4>Faça uma nova aposta!</h4>

        @helper.form(routes.BetController.tryNewBet(game.teams)) {
            
        @form.globalError.map { error =>
            <p class="error">
                @error.message
            </p>
        } 
        
        @flash.get("success").map { message =>
            <p class="success">
                @message
            </p>
        }
            <p>
                <input type="text" pattern="^\d{1,2} x \d{1,2}" name="bet" placeholder="00 x 00" id="bet" value="@form("bet").value">
            </p>
            <p>
                <button type="submit" id="betButton">Cadastro</button>
            </p>
        </div>
    }
    
}
